<!DOCTYPE html>
<html lang="{% if langswitcher.current == 'fr' %}fr{% elseif langswitcher.current == 'en' %}en{% endif %}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
        <link rel="icon" type="image/png" href="{{ theme_url }}/img/favicon.ico" />

       
       <script type="text/javascript">
            if (sessionStorage.fontsLoaded) {
              var html = document.documentElement;
              html.classList.add('fonts-loaded');
              html.classList.remove('fonts-loading');
            }
        </script> 
      

         {% block stylesheets %}
            {% do assets.addCss('theme://css/font-awesome.min.css', 101) %}
            {% do assets.addCss('theme://css/style.css', 1) %}

            {% if browser.getBrowser == 'msie' %}
                {% do assets.addCss('theme://css/styles-ie.css') %}
            {% endif %}

        {% endblock %}

        {# Critical path inline styles get set via Custom CSS-Plugin in Grav Adminpanel.
        #}
        {{ assets.css('criticalcss') }}


        {% block javascripts %}
            {% do assets.add('jquery', {'priority': 101, 'group':'criticaljs'}) %}
            {% do assets.addJs('theme://js/fontfaceobserver.js', {'priority': 100, 'group':'criticaljs'}) %}

            {% do assets.addJs('theme://js/lazysizes.min.js') %} 
            {% do assets.addJs('theme://js/fittext_uli.js') %} 
            {% do assets.addJs('theme://js/scripts.js') %} 

            {% if browser.getBrowser == 'msie' %}
                {% do assets.addJs('theme://js/msie.js') %}
            {% endif %}

            {% if browser.getBrowser == 'msie' and browser.getVersion < 10 %}
                {% do assets.addJs('theme://js/html5shiv.min.js') %}
            {% endif %}
            
        {% endblock %}
        
        {% block topassets %}
            {{ assets.js('criticaljs') }}
        {% endblock %}

        {# 
        <script>    
        $(window).load( function(){ 
            jQuery('.camera_wrap').camera();  
        });
        </script>
        #}

        {% if browser.getBrowser == 'msie' and browser.getVersion < 9 %}
            <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
         {% endif %}

    {% endblock head%}
    </head>
    <body class="{{ page.header.body_classes }}">
        {% block header %}
             {% include 'partials/header.html.twig' %}
        {% endblock %}

        {% block body %}
            <div class="main">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}


        {% block footer %}
             {% include 'partials/footer.html.twig' %}
        {% endblock %}

        <div class="scrolltop  js-scrolltop"></div>

        {% block bottomassets %}
            {{ assets.css() }}
            {{ assets.js() }}
        {% endblock %}

    </body>
</html>
