<a class="example" href="{{ page.url }}">

	{{ page.media[page.header.image].cropResize(300, 300).html() }}

	<div class="example__info">
		<h3>{{ page.title }}</h3>

		{% if uri.path() == '/examples' %}	
			{{ page.summary }}
		{% elseif uri.path() == '/' %}
			<p>{{ page.header.blurb }}</p>
  	{% endif %}

  </div>
 	
</a>