<ul class="langswitcher">
{% set langobj = grav['language'] %}

{% for key in langswitcher.languages %}

    {% if key == langswitcher.current %}
        {% set lang_url = page.url %}
        {% set active_class = 'active' %}
    {% else %}

    		{% if key == "en" %}
    			{% set lang_url = "www.toctoc-Marseille.com/" ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
        	
        {% elseif key == "fr" %}
        	{% set lang_url = "www.toctoc-Marseille.fr/" ~ langobj.getLanguageURLPrefix(key)~langswitcher.page_route ?: '/' %}
        {% endif %}

        {% set active_class = '' %}
    {% endif %}

    <li><a href="{{ lang_url ~ uri.params }}" class="full-lang {{ active_class }}">{{ native_name(key)|capitalize }}</a><a href="{{ lang_url ~ uri.params }}" class="short-lang {{ active_class }}">{{ native_name(key)|upper|slice(0,2) }}</a></li>

{% endfor %}
</ul>