<a class="cell cell--service" data-bp="1100" href="{{ page.url }}">

	<span class="cell__img">
		{{ page.media[page.header.image].cropResize(800).html() }}
	</span>

  <h2 class="headline--service"><span class="icon--service  icon--{{page.title }}"></span><span class="font-light">toctoc</span><span>{{ page.title|slice(6) }}</span></h2>

	<span class="card  item__summary">
		<h3 class="bgcolor-{{ page.header.page_color }}">{{ page.header.subtitle }}</h3>
		<p>{{ page.header.blurb }}</p>

		<span class="btn btn-{{ page.header.page_color|trim('0..9') }} btn-m"><i></i><strong>{% if langswitcher.current == 'fr' %}En savoir +{% elseif langswitcher.current == 'en' %}Tell me more{% endif %}</strong></span>
	</span>


</a>