<a class="service-link" href="{{ page.url }}">

{% if uri.path() == '/services' %}	

		<svg class="icon--service" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="{{ page.find('/images').media['icons-global_rdcd.svg'].url() }}#{{ page.header.icon }}" /></svg>
    <h3>{{ page.title }}</h3>
		<div class="item__summary">{{ page.summary }}</div>
</a>

{% elseif uri.path() == '/' %}

		<svg class="icon--service" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="{{ page.find('/images').media['icons-global_rdcd.svg'].url() }}#{{ page.header.icon }}" /></svg>
		<h2 class="color-{{ page.header.page_color }}">{{ page.title }}</h2>
		<h4>{{ page.header.preview_welcome1 }}</h4>
		<p>{{ page.header.preview_welcome2 }}</p>
</a>

{% endif %}