<div class="press-article">
	<a href="{{ page.header.link }}" target="_new">{{ page.media[page.header.image].cropResize(300, 300).html() }}</a>
	<h3><a href="{{ page.header.link }}" target="_new">{{ page.header.headline }}</a></h3>
	{{ page.content}}
</div>