<div class="press-article">

	<h3><span class="press-article__headline">{{ page.header.headline }}</span><span class="press-article__date">{{ page.header.date }}</span></h3>
	
	{% if page.header.link %}

		<a class="press-article__img cell cell-in-row cell-25" href="{{ page.header.link }}" target="_new">{{ page.media[page.header.image].cropResize(400, 400).html() }}</a>

	{% elseif page.header.imagelink %}

		<a class="press-article__img cell cell-in-row cell-25" href="{{ page.media[page.header.imagelink].url }}" rel="lightbox" data-width="700">{{ page.media[page.header.image].cropResize(400, 400).html() }}</a>

	{% else %}

		<span class="press-article__img cell cell-in-row cell-25">{{ page.media[page.header.image].cropResize(400, 400).html() }}</span>

	{% endif %}

	<div class="press-article__content cell cell-in-row cell-75">
		{{ page.content}}
	</div>
	
</div>