<a class="cell cell--service" data-bp="1100" href="{{ page.url }}">

{% if uri.path() == '/services' %}	

	<div class="imgfade">
		{{ page.media[page.header.image].cropResize(800).html() }}
	</div>

  <h2 class="headline--service beta"><svg class="icon--service" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="{{ page.find('/images').media['icons-global_rdcd.svg'].url() }}#{{ page.header.icon }}" /></svg><span class="font-light">toctoc</span><span>{{ page.title|slice(6) }}</span></h2>

	<div class="card  item__summary">
		<h3 class="bgcolor-{{ page.header.page_color }}">{{ page.header.subtitle }}</h3>
		<p>{{ page.summary|striptags() }}</p>

		<span class="btn btn-{{ page.header.page_color|trim('0..9') }} btn-m"><i></i><strong>En savoir +</strong></span>
	</div>

{% elseif uri.path() == '/' %}

	<h2 class="headline--service beta color-{{ page.header.page_color }}"><svg class="icon--service" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="{{ page.find('/images').media['icons-global_rdcd.svg'].url() }}#{{ page.header.icon }}" /></svg><span class="font-light">toctoc</span><span>{{ page.title|replace({"toctoc": ""}) }}</span></h2>

	<h4 class="byline--service">{{ page.header.preview_welcome1 }}</h4>
	<p>{{ page.header.preview_welcome2 }}</p>

	<span class="btn btn-{{ page.header.page_color|trim('0..9') }} btn-m"><i></i><strong>En savoir +</strong></span>

{% endif %}

</a>