<a class="card  width-33" href="{{ page.url }}">

	<div class="card__img">
		{{ page.media[page.header.image].quality(80).sizes('380px').html(page.title, page.title, page.header.imagealign) }}
			<small class="card__badge" data-exampletype="{{ page.taxonomy.example_type|first }}"></small>
	</div>
	<div class="card__info">
		<h3>{{ page.title }}</h3>

		{% if uri.path() == '/' %}
			<p>{{ page.header.blurb }}</p>
		{% else %}	
			<p>{{ page.header.blurb|safe_truncate_html(110) }}</p>
  	{% endif %}

  </div>
 	
</a>