<a class="cell cell--service" data-bp="1100" href="{{ page.url }}">

{% if uri.path() == '/services' %}	

	<div class="cell__img">
		{{ page.media[page.header.image].cropResize(800).html() }}
	</div>

  <h2 class="headline--service beta"><img class="icon--service" src="{{ theme_url }}/img/{{page.header.icon}}.svg" /><span class="font-light">toctoc</span><span>{{ page.title|slice(6) }}</span></h2>

	<div class="card  item__summary">
		<h3 class="bgcolor-{{ page.header.page_color }}">{{ page.header.subtitle }}</h3>
		<p>{{ page.header.blurb }}</p>

		<span class="btn btn-{{ page.header.page_color|trim('0..9') }} btn-m"><i></i><strong>{% if grav.language.getActive == 'fr' %}En savoir +{% elseif grav.language.getActive == 'en' %}Tell me more{% endif %}</strong></span>
	</div>

{% elseif uri.path() == '/' %}

	<h2 class="headline--service beta color-{{ page.header.page_color }}"><img class="icon--service" src="{{ theme_url }}/img/{{page.header.icon}}.svg" /><span class="font-light">toctoc</span><span>{{ page.title|replace({"toctoc": ""}) }}</span></h2>

	<h4 class="byline--service">{{ page.header.subtitle_short }}</h4>
	<p>{{ page.header.blurb_short }}</p>

	<span class="btn btn-{{ page.header.page_color|trim('0..9') }} btn-m"><i></i><strong>{% if grav.language.getActive == 'fr' %}En savoir +{% elseif grav.language.getActive == 'en' %}Tell me more{% endif %}</strong></span>

{% endif %}

</a>