<div class="press-article">

	<div class="cell cell-in-row cell-67">
		<h3><a href="{{ page.header.link }}" target="_new">{{ page.header.headline }}</a></h3>
		{{ page.content}}
	</div>

	<div class="cell cell-in-row cell-33">
		<a href="{{ page.header.link }}" target="_new">{{ page.media[page.header.image].cropResize(300, 300).html() }}</a>
	</div>
	
</div>