{% macro loop(page) %}
    {% for p in page.children %}
        {% if p.visible %}
            {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
            <li class="{{ current_page }}">
                <a href="{{ p.url }}">
                    {{ p.menu }}
                </a>
                {% if p.children.count > 0 %}
                    <ul>
                        {{ _self.loop(p) }}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<div class="main-nav__wrapper">
    <ul class="main-nav">
    {#     {% if config.themes.tictactoc.dropdown.enabled %}
            {{ _self.loop(pages) }}
        {% else %} #}
            <li class="main-nav__item  main-nav__item--home">
                <a href="{{ base_url_absolute }}" class="fa fa-home" title="< back to Homepage">
                </a>
            {% for page in pages.children %}
                {% if page.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                    <li class="main-nav__item {{ current_page }}">
                        <a class="main-nav__link" href="{{ page.url }}">
                            {{ page.menu }}
                        </a>

                        {% if page.children and page.menu == 'Services' %}

                        <ul class="sub-nav">
                            {% for childpage in page.children %}
                            <li class="sub-nav__item">
                                <a class="sub-nav__link" href="{{ childpage.link }}">
                                    {{ childpage.menu }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>

                        {% elseif page.children and page.menu == 'Exemples' %}

                        <ul class="sub-nav">
                            {% for childpage in page.children %}
                            <li class="sub-nav__item">
                                <a class="sub-nav__link" href="{{ childpage.link }}">
                                    {{ childpage.menu }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>

                        {% endif %}
                    </li>

                {% endif %}
            {% endfor %}
        {# {% endif %} #}

        {# {% for mitem in site.menu %}
            <li>
                <a href="{{ mitem.link }}">
                    {{ mitem.text }}
                </a>
                {% if mitem.submenu %}
                    <ul>
                        {% for sub1 in mitem.submenu %}
                            <li>{% if loop.first %}<img src="{{ theme_url }}/img/arrowup.png" alt="">{% endif %}
                                <a href="{{ sub1.link }}">
                                    {{ sub1.text }}
                                </a>
                                {% if sub1.submenu %}
                                    <ul>
                                        {% for sub2 in sub1.submenu %}
                                            <li>
                                                <a href="{{ sub2.link }}">
                                                    {{ sub2.text }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %} #}
    </ul>
    <div class="scrollmenu  js-scrollmenu"></div>  
</div>