{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="block  block--stretch block--contactinfo">

    <div class="block">
        {{ page.content }}
    </div>

</div>

<div class="block  block--stretch block--instagram">

    <div class="block">
        {{ instagram_feed() }}
    </div>

</div>


<div class="block  block--stretch  block--contactform">
    <div class="block">
        <h2>{{ page.header.formtitle }}</h2>
        {% include "forms/form.html.twig" %}
    </div>
</div>

{# 
{% if config.plugins.simple_form.enabled %}
    {% set simple_form_config = page.header.simple_form ?: config.themes.tictactoc.simple_form %}
    <div class="block  block--stretch  block--contactform">
        <div class="block">
            <h2>{{ page.header.simple_form.headline }}</h2>
            {{ simple_form(simple_form_config) }}
        </div>
    </div>
{% endif %} #}
{% endblock %}

