{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% set childtype = 'example' %}
{# can be "example", "service", "item" #}

{% set childtemplate = 'partials/listitem-' ~ childtype ~ '.html.twig' %}

{% block content %}


<div class="stage">
    <h1 class="beta stage__title"><svg class="icon--service" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="{{ page.find('/images').media['icons-global_rdcd.svg'].url() }}#{{ page.header.icon }}" /></svg><span class="font-light">toctoc</span><span class="font-regular">{{ page.title|ltrim('toctoc') }}</span></h1>

    <div class="stage__img">{{ page.media[page.header.image].html(page.title, page.title ,page.header.imagealign) }}</div>
</div>

<div class="block  block--stretch  block--service">

	<div class="block block--subtitle bgcolor-{{ page.header.page_color }}">
		<h2 class="stage__subtitle">{{ page.header.subtitle }}</h2>
	</div>

	<div class="block">
  	{{ page.content }}
  </div>
</div>

<div class="block  block--example block--stretch">
	<div class="block">
		<h2 class="gamma">{{ page.find('/examples').title }}</h2>
		{% for child in collection %}
	    {% include childtemplate with {'page':child, 'truncate':true} %}
	  {% endfor %}
  </div>
</div>

{% endblock %}

