{% extends 'partials/base.html.twig' %}

{% set collection = page.collection() %}

{% set childtype = 'example' %}
{# can be "example", "service", "item" #}

{% set childtemplate = 'partials/listitem-' ~ childtype ~ '.html.twig' %}

{% block content %}

<div class="stage">
{#     <h1 class="beta stage__title"><img class="icon--service" src="{{ page.find('/images').url() }}/{{page.header.icon}}.svg" /><span class="font-light">toctoc</span><span>{{ page.title|ltrim('toctoc') }}</span></h1> #}
    <h1 class="fontsize-alpha stage__title"><span class="icon--service  icon--{{page.title }}"></span><span class="font-light">toctoc</span><span>{{ page.title|ltrim('toctoc') }}</span></h1>

    <div class="stage__img">{{ page.media[page.header.image].quality(80).derivatives(400, 2000, 300).sizes('100vw').html(page.title, page.title, page.header.imagealign) }}</div>
</div>

<section class="block  block--stretch  block--service">

	<div class="block block--subtitle bgcolor-{{ page.header.page_color }}">
		<h2 class="stage__subtitle"><a class="subtitle__badge  color-{{ page.header.page_color }}" href="{% if langswitcher.current == 'en' %}{{ page.find('/pricing').url() }}{% elseif langswitcher.current == 'fr' %}{{ page.find('/tarifs').url() }}{% endif %}">{{ page.header.pricing_info }} <strong class="subtitle__price">{{ page.header.pricing_price }}</strong><sub class="subtitle__price-unit">{{ page.header.pricing_per }}</sub></a> {{ page.header.subtitle }}</h2>
	</div>

	<div class="block">
  	
  	{% set twig_content_variable = page.content %}
		{% set replace_value_var = '<img src' %}
		{% set replace_with_value_var = '<img class="lazyload" data-src' %} 

		{{ twig_content_variable|replace({ (replace_value_var): replace_with_value_var }) }}

  </div>
</section>

{{ pages.find('/welcome/_call-to-action').content }}

<section class="block  block--examples block--stretch">
	<div class="block">
		<h2>{{ page.find('/examples').title }}</h2>
		{% for child in collection %}
	    {% include childtemplate with {'page':child, 'truncate':true} %}
	  {% endfor %}
  </div>
</section>

{% endblock %}
