<div class="alert">{{ form.message }}</div>

<form name="{{ form.name }}" class="contact-form"
      action="{{ form.action ? base_url ~ form.action : page.url }}"
      method="{{ form.method|upper|default('POST') }}">
  
  
  <div class="cell cell-in-row cell-60">

    {{ dump(page.header.form.fields) }}

    {% for field in form.fields if (field.type) == 'textarea' %}
    {% set value = form.value(field.name) %}
      <div class="formline--textarea">
          {% include "forms/fields/#{field.type}/#{field.type}.html.twig" %}
      </div>
    {% endfor %}
  </div>
  
  <div class="cell cell-in-row cell-40">
    {% for field in form.fields if (field.type) != 'textarea' %}
      {% set value = form.value(field.name) %}
      <div class="formline--text">
          {% include "forms/fields/#{field.type}/#{field.type}.html.twig" %}
      </div>
    {% endfor %}

	  {% for button in form.buttons %}
	    <button class="btn btn-l btn-seagreen" type="{{ button.type|default('submit') }}">{% if (button.type) == 'submit' %}<i class="fa fa-paper-plane"></i>{% endif %}{{ button.value|default('Submit') }}</button>
	  {% endfor %}
  </div>

  {{ nonce_field('form', 'form-nonce') }}
</form>
