<div class="hero">

	<div class="wrapper  wrapper--hero">
		{{ page.content }}
	</div>

	{# <h1 class="beta  color-white">{{ page.header.headline }}</h1>
	<h2 class="color-blue3">{{ page.header.subheadline }}</h2> #}

{#   <video loop="loop" preload="auto" class="video-playing">
    <source src="{{ page.header.videosrc1 }}" type="video/mp4">
    <source src="{{ page.header.videosrc2 }}" type="video/webm">
  </video> #}
  
  {#
		<iframe src="http://www.webcam-hd.fr/public-frames/Marseille.php" width="100%" height="400" frameborder="0"></iframe>
	#}

	<div class="hero-bg">
		{{ page.media[page.header.pano1] }}
	</div>

</div>

