<section class="block  block--stretch  block--howto">
	<div class="block">
	  {{ page.content }}
{{ dump (page.url) }}
{{ dump (base_url) }}
{{ dump (uri.path) }}
{{ dump (uri.url) }}
		{% for step in page.header.steps %}

			<figure class="timeline-row">
				<div class="timeline-row__img">{{ page.media[step.image].quality(80).cropResize(150).sizes('100vw').html() }}</div>

				<figcaption class="timeline-row__info">

					{% if uri.path == '/'  %}
					
						<h2><a class="color-{{ step.color }}" href="
							{% if grav.language.getActive == 'en' %}
								{{ page.find('/how-it-works').url() }}
							{% elseif grav.language.getActive == 'fr' %} 
								{{ page.find('/comment-ca-marche').url() }}
							{% endif %}#step{{ loop.index0 }}">{{ loop.index }}. {{ step.title }}</a></h2>

					{% else %}

						<h2><a class="color-{{ step.color }}" name="step{{ loop.index }}">{{ loop.index }}. {{ step.title }}</a></h2>

						<p>{{ step.text }}
							{% if step.link %}
								<br>
								{% if step.linkclass == "link--mailto" %}
									<a href="mailto:{{ step.link|safe_email }}" class="{{ step.linkclass }}" title="{{ step.linktitle|safe_email }}">{{ step.linktext|safe_email }}</a>
								{% else %}
									<a href="{{ step.link }}" class="{{ step.linkclass }}" title="{{ step.linktitle }}">{{ step.linktext }}</a>
							{% endif %}
						</p>

					{% endif %}

				</figcaption>
			</figure>

		{% endfor %}

		{% if uri.path == '/' and page.header.buttontext %}
			<div class="timeline-button">
				<a href="{{ page.find(page.header.buttonlink).url() }}" class="btn btn-l epsilon btn-{{ page.header.buttoncolor }}">{{ page.header.buttontext }}</a>
			</div>
		{% endif %}

	</div>
</section>
