<section class="block block--stretch  block--partner">
	
	<div class="block">
		{{ page.content }}


		<ul class="filter">
	    <li><a href="#" data-category-name="js-category-all" class="js-selected">{% if langswitcher.current == 'fr' %}Toutes catégories{% elseif langswitcher.current == 'en' %}Show all{% endif %}</a></li>
	    {% for item in page.header.categories %}
	        <li><a href="#" data-category-name="js-category-{{ item.name }}">{{ item.name|capitalize }}</a></li>
	    {% endfor %}
		</ul>


		<div class="cards">
		{% for partner in page.header.partners %}

			{% set image = page.media[partner.image] %}
			{% set thumb = image.display('thumbnail').quality(80).cropResize(400, 300) %}

			<a class="card  card--partner  width-25" href="{{ partner.link }}" data-partner-category="js-category-{{ partner.category }}" target="_new">

				<span class="card__img" href="{{ partner.link }}" target="_new">
						<img class="lazyload" data-srcset="{{ thumb.sizes('100vw').srcset()}}" data-src="{{ thumb.url }}" data-sizes="{{ thumb.sizes }}" >
					{# {{ page.media[partner.image].cropResize(300, 300).html() }} #}
				</span>

				<span class="card__info">
					<h3>{{ partner.name }}</h3>
					<p>{{ partner.text }}</p>
				</span>

			</a>
		{% endfor %}
		</div>

	</div>

</section>