
	<section class="hero">

		<div class="hero__text">
			{{ page.content }}
		</div>

		{# <h1 class="beta  color-white">{{ page.header.headline }}</h1>
		<h2 class="color-blue3">{{ page.header.subheadline }}</h2> #}

	{#   <video loop="loop" preload="auto" class="video-playing">
	    <source src="{{ page.header.videosrc1 }}" type="video/mp4">
	    <source src="{{ page.header.videosrc2 }}" type="video/webm">
	  </video> #}
	  
	  {#
			<iframe src="http://www.webcam-hd.fr/public-frames/Marseille.php" width="100%" height="400" frameborder="0"></iframe>
		#}

		<div class="hero__bg">
      {{ page.media[page.header.pano1].derivatives(640, 2000, 200).sizes('100vw').html(page.title, page.title, page.header.imagealign) }}
		</div>

	</section>



{# <svg height="0">
<defs>
  <mask id="mask-radial">
    <rect width="400" height="300" fill="url(#g1)"></rect>
    <radialGradient id="g1" cx="50%" cy="50%" r="50%">
      <stop stop-color="black" offset="50%"/>
      <stop stop-color="white" offset="110%"/>
    </radialGradient>
  </mask>
  <mask id="mask-linear">
    <rect width="1000" height="400" fill="url(#l1)"></rect>
    <linearGradient id="l1" x1="0" y1="0" x2="0" y2="1">
      <stop stop-color="white" offset="0%"/>
      <stop stop-color="black" offset="50%"/>
      <stop stop-color="white" offset="100%"/>
    </linearGradient>
  </mask>
  <filter id="filtre1">
    <feGaussianBlur in="SourceGraphic" stdDeviation="5"/>
  </filter>
  <filter id="filtre2">
    <feGaussianBlur in="SourceGraphic" stdDeviation="5"/>
  </filter>
</defs>
</svg> #}