<div class="block">
	
	{{ page.content }}

	{% for partner in page.header.partners %}
		<div class="partner  card  width-25">
			<a href="{{ partner.link }}" target="_new" class="card__img">{{ page.media[partner.image].cropResize(300, 300).html() }}</a>
			<div class="card__info">
				<h3><a href="{{ partner.link }}" target="_new">{{ partner.name }}</a></h3><p>{{ partner.text }}</p>
			</div>
		</div>
	{% endfor %}
</div>