{% set collection = page.collection() %}

{% set childtype = page.header.childtype %}
{# can be "example", "service", "item" #}

{% set overflow = page.header.overflow %}
{# setting the block to scroll horizontally #}

{% set childtemplate = 'partials/listitem-' ~ childtype ~ '.html.twig' %}

<section class="block  block--stretch  block--{{ childtype|pluralize }}">

	{% if page.content %}
		<div class="block">
			{{ page.content }}
			{% if overflow %}<a href="" class="js-scrollblock btn btn--scroll" onClick="return false"></a>{% endif %}
		</div>
	{% endif %}

	<div class="block{% if overflow %}--scroll{% endif %}">

		{% if overflow %}<div class="block__scroll-wrapper">{% endif %}

	  	{% for child in collection %}

	      {% if childtype == "example" %}

          {% set twig_content = childtemplate.content %}
          {% set replace_value_var1 = '<a' %}
          {% set replace_with_value_var1 = '--><a' %}
          {% set replace_value_var2 = '</a>' %}
          {% set replace_with_value_var2 = '</a><!--' %}

          {% if loop.first %}
            {{ twig_content|replace({ (replace_value_var2): replace_with_value_var2 }) }}

          {% elseif loop.last %}
            {{ twig_content|replace({ (replace_value_var1): replace_with_value_var1 }) }}

          {% else %}
            {{ twig_content|replace({ (replace_value_var1): replace_with_value_var1 }) }}
            {{ twig_content|replace({ (replace_value_var2): replace_with_value_var2 }) }}

          {% endif %}

          {% include childtemplate with {'page':child, 'truncate':true} %}

        {% else %}

          {% include childtemplate with {'page':child, 'truncate':true} %}

        {% endif %}

	  	{% endfor %}

  	{% if overflow %}</div>{% endif %}
	</div>

</section>

